.inline {
  display:inline;
}
ul.inline {
  display:inline-table;
  margin:0px;
}
h1 {
  margin-bottom:0px;
}
ul.nav {
  list-style-type:none;
}
ul.nav li {
  display:inline;
}
p.success {
  background-color:#6fbf97;
  padding:15px;
  border-radius:15px;
  color:white;
}
p.error {
  background-color:#ff5858;
  padding:15px;
  border-radius:15px;
  color:white;
}
h2.pubtit {
  margin-bottom:0px;
}
p.author {
  margin-top:0px;
}
ul.pages li {
  display:table-cell;
  text-align:center;
  background-color:#ebf3ff;
  border-style:solid;
  border-color:grey;
  border-radius:0px;
  border-width:thin;
}
ul.pages a {
  padding:4px;
  display:block;
  text-decoration:none;
}
ul.pages {
  width:100%;
  margin:0px;
  padding:0px;
  display:table;
}
textarea#submit-content {
  display:block;
  margin:0px auto;
  width:90%;
  padding:1em;
}
pre.pubcon {
  display:inline-block;
  text-align:left;
  max-width:90%;
  margin:0px auto;
  padding:1em;
  background-color:#ebf3ff;
  border-color:grey;
  border-width:thin;
  border-style:solid;
}
