.inline {
  display:inline;
}
.hidden {
  display:none;
}
ul.inline {
  display:inline-table;
  margin:0px;
}
h1 {
  margin-bottom:0px;
}
ul.nav {
  list-style-type:none;
}
ul.nav li {
  display:inline;
}
p.success {
  background-color:#6fbf97;
  padding:15px;
  border-radius:15px;
  color:white;
}
p.error {
  background-color:#ff5858;
  padding:15px;
  border-radius:15px;
  color:white;
}
p.error.warning {
  background-color:#b3af09;
}
h2.pubtit {
  margin-bottom:0px;
}
p.author {
  margin-top:0px;
}
a#info-author {
  font-weight:bold;
}
ul.pages li {
  display:table-cell;
  text-align:center;
  background-color:#ebf3ff;
  border-style:solid;
  border-color:grey;
  border-radius:0px;
  border-width:thin;
}
ul.pages a {
  padding:4px;
  display:block;
  text-decoration:none;
}
ul.pages {
  width:100%;
  margin:0px;
  padding:0px;
  display:table;
}
#submit-title {
  display:block;
  width:90%;
  padding:0.1em 1em;
  border-radius:0.5em;
  margin:0px auto;
}
#submit-content {
  display:block;
  margin:0px auto;
  width:90%;
  padding:1em;
  border-radius:0.5em;
}
.pubcon {
  display:inline-block;
  text-align:left;
  max-width:90%;
  margin:0 auto 0.5em auto;
  padding:1em;
  background-color:#ebf3ff;
  border-color:grey;
  border-width:thin;
  border-style:solid;
  border-radius:0.5em;
}
h3 {
  margin-bottom:0.5em;
  margin-top:1em;
}
p {
  margin-bottom:0.5em;
  margin-top:0.5em;
}
p.tagline {
  width:90%;
  margin:1em auto;
  text-align:center;
}
