ul.nav {
  list-style-type:none;
}
ul.nav li {
  display:inline;
}
p.error {
  display:inline;
  background-color:#ff5858;
  padding:15px;
  border-radius:15px;
  color:white;
}
h2.pubtit {
  margin-bottom:0px;
}
p.author {
  margin-top:0px;
}
pre.pubcon {
  text-align:left;
  margin:auto;
  width:90%;
}
